/** BASIC LAYOUT**/

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    background-color: #0e1111;
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    color: #ebebeb;
}

.site-header {
    flex: 0 0 auto;
    background-color: #0e1111;
    color: #fff;
    padding: 2em;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
    height: 15%;
}


a {
    color: #ebebebee;
    text-decoration: underline;
}

.site-title {
    text-align: center;
    color: white;
}

.main {
    flex: 1 0 auto;
    max-width: 80em;
    margin: 0.5em auto;
    padding: 2em;
}

.site-footer {
    flex: 0 0 auto;
    background-color: #0e1111;
    color: #ebebeb;
    padding: 2em;
    text-align: center;
    border-top: 1px solid #ebebeb;
    height: 15%;
}

.site-footer a {
    color: #fff;
    text-decoration: underline;
}

.site-footer a:visited {
    color: #fff;
    text-decoration: underline;
}

/** NAV **/
nav {
    margin: 2em 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    clear: both;
}

nav a {
    font-size: 1.2em;
    padding: 0.3em;
    margin: 0.2em;
    background-color: #121212;
    color: #ebebeb;
    text-decoration: none;
    box-shadow: 3px 3px 3px 3px #000;
    border: 1px solid #ebebeb;
}

nav a:hover {
    color: #000;
    background-color: #ebebebee;
}

.selected {
    text-decoration: underline;
}


/** IMAGES **/
img {
    max-width: 100%;
}

.game-img {
    max-width: 50%;
}

.room-image {
    max-width: 50%;
}

.setup-img {
    max-width: 50%;
}

/** TYPOGRAPHY **/
h1 {
    font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}

h2,
h3,
h4 {
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 0.5em;
}

/**
* GRIDS
*/
.setup-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    justify-items: center;
    padding: 0.5em;
}

.setup-heading {
    grid-column: 1/1;
    grid-row: 1/1;
}

.setup-img {
    grid-column: 1/1;
    grid-row: 2/2;
}

.game-grid {
    display: grid;
    grid-template-columns: 60em, 20em;
    grid-template-rows: auto;
    grid-gap: 1em;
    justify-items: left;
    padding: 0.5em;
}

.game-heading {
    grid-column: 1/2;
    grid-row: 1/1;
    justify-self: center;
}

.room-image {
    display: grid;
    grid-column: 1/1;
    grid-row: 2/2;
    justify-self: center;
    align-self: center;
    justify-items: center;
}

.room-description {
    grid-column: 1/2;
    grid-row: 3/3;
    display: grid;
}


/*
.exits {
    grid-row: 4/4;
} */

.room-items {
    grid-area: "room-items";
    grid-row: 5/5;
}

.player-inventory {
    border: 1px solid #ebebeb;
    padding: 1em;
    grid-column: 2/2;
    grid-row: 2/2;
    justify-self: left;
    width: 10em;
}

.events {
    grid-column: 2/2;
    grid-row: 3/4;
    border: 1px solid #ebebeb;
    width: 10em;
    padding: 1em;
}

/**
* IMAGES
*/

.book-img {
    max-width: 75%;
    border: 0.5em #fff solid;
    box-shadow: #000 3px 3px 3px 3px;
}

/**
* FORMS
*/

input[type="submit"] {
    background-color: #0e1111;
    color: #ebebeb;
    text-decoration: none;
    margin: 2em;
    padding: 0.5em;
    min-width: 10%;
    text-align: center;
    border: 1px solid #ebebeb;
}

input[type="submit"]:hover {
    color: #000;
    background-color: #ebebebee;
}

input.use-item {
    margin: 1em 0 1em 0;
}

input.exit-button {
    margin: 1em 0 1em 0;
    width: 10%;
}

.exit-form {
    margin-top: 1em;
}

.end-game-form {
    justify-self: center;
}

/**
* TABLES
*/

.log-table {
    border-collapse: collapse;
    width: 100%;
}

.log-table th {
    background-color: #0e1111;
    color: #ebebebee;
    padding: 0.5em;
}

.log-table td {
    padding: 0.5em;
    text-align: center;
}

.log-table tr {
    color: #ebebebee;
    background-color: #0e1111;
}

.log-table tr:nth-child(odd) {
    background-color: #888;
}
