{% extends 'base.html.twig' %}

{% block title %}Achievement logs{% endblock %}

{% block body %}
    <h2>Achievement logs</h2>
    <p>
        Click on "Show achievements" by your game 
        to see the achievements you have accomplished
        during your escape from the vault.
    </p>
    <table class="log-table">
        <tr>
            <th>Log number</th>
            <th>Date</th>
            <th>Player</th>
            <th>Show events</th>
        </tr>
        {% for log in logs %}
            <tr>
            <td>{{log.id}}</td>
                <td>{{ log.date|date('Y-m-d')}}</td>
                <td>{{ log.playerName }}</td>
                <td><a href="{{ path('app_show_events',  {'id': log.id}) }}">Show achievements</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
