{% extends 'base.html.twig' %}
{% block body %}
<h2>Escape from the bunker</h2>
<p>You awake to darkness. Old circuits sparking to life, rusty joints creaking when you try to move your limbs. Your hud shows your last activation time and the current date -  
    a hundred years have passed! Where are the others - the humans? You remember now - there was a war, your human clan hid here in this shelter, in this safe room. A red light 
    flashes - danger! You must leave this bunker and find out what has happened to the humans.
</p>

<form method="post" action="{{ path('app_adventure_setup')}}">
    <input type="submit" name="doit" value="Play game">
</form>

{% endblock %}
