{% extends 'base.html.twig' %}

{% block title %}Room Visits logs{% endblock %}

{% block body %}
    <h2>Room Visits Logs</h2>
    <p>
        Click on "Show visits" by your game 
        to see how many times you entered the 
        rooms of the vault during your escape.
    </p>
    <table class="log-table">
        <tr>
            <th>Log number</th>
            <th>Date</th>
            <th>Player</th>
            <th>Show visits</th>
        </tr>
        {% for log in logs %}
            <tr>
            <td>{{log.id}}</td>
                <td>{{ log.date|date('Y-m-d')}}</td>
                <td>{{ log.playerName }}</td>
                <td><a href="{{ path('app_show_visits',  {'id': log.id}) }}">Show visits</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
