{% extends 'base.html.twig' %}
{% block body %}
    <h2>Welcome</h2>
    <p>
        On this site you can play a text adventure game demo in your browser. You play as an old robot awakening in in an abandoned underground shelter. 
        Your goal is to find your way out. You go from room to room, pick up items and try to uncover the clues that will let you escape. After you have finished 
        your journey (or during) you can review your progress by going to the achievements visited rooms pages. In the achievement log for ypur game ypu can 
        how many and which achivements you have. In the room visit log for your game you can see how many times you have entered the different rooms in the vault.
    </p> 

    <p>
        This website is made as a part of the course <a href="https://dbwebb.se/kurser/mvc-v1">mvc</a> at BTH.
    </p>
{% endblock %}